@{
    ViewData["Title"] = "DesignLayout";
}

<hr />
<div class="row">
    <div class="col-md-6 text-danger fw-bold"><h5>Wireframes</h5></div>
    <div class="col-md-3">
        <a class="btn fw-bold bg-success bg-gradient float-end" asp-controller="Home" asp-action="Index">Back</a>
    </div>
</div>
<hr />

<div class="row justify-content-center">
        
    <div class="col-lg-8 col-md-8 col-xl-8 mb-2">
        <img id="imgSize" class="mb-2" src="https://dragonsstorage24.blob.core.windows.net/dragoncontainer/Slide2.jpg" />
        <img id="imgSize" src="https://dragonsstorage24.blob.core.windows.net/dragoncontainer/Slide3.jpg" />
    </div>
</div>
<hr />

<style>
    #imgSize
    {
        height: auto;
        width : 75%;
    }
</style>