@{
    ViewData["Title"] = "Podcasts";
}


<h2 style="text-align: center; margin-top: 50px; font-weight: bold;">Podcasts</h2>

<div class="container" style="display: flex; justify-content: center; gap: 30px; margin-bottom:30px; margin-top: 50px;">

   
    <div style="text-align:center;">
        <a href="https://castbox.fm/channel/id1139548?country=gb" target="_blank">
            <img src="https://is1-ssl.mzstatic.com/image/thumb/Podcasts115/v4/f0/d3/62/f0d36290-b222-397c-f1a5-02623a69b3f0/mza_9983181717749715502.jpg/400x400bb.jpg" alt="Podcast on Castbox" style="width:150px; border-radius:10px;">
        </a>
        <div>
            <p style="font-size:24px; color:darkgreen;">True Crime</p>
        </div>
       
        
    </div>

  
    <div style="text-align:center;">
        <a href="https://castbox.fm/channel/id6314682?country=gb" target="_blank">
            <img src="https://is1-ssl.mzstatic.com/image/thumb/Podcasts211/v4/c8/1a/71/c81a716b-b5d1-61b7-7d3e-0253a56e63d5/mza_15186388159121451528.jpg/400x400bb.jpg" alt="Podcast on Castbox" style="width:150px; border-radius:10px;">
        </a>
        <div>
            <p style="font-size:24px; color:darkgreen;">The Daily</p>
        </div>
       
       
    </div>

    
    <div style="text-align:center;">
        <a href="https://castbox.fm/channel/id3875371?country=gb" target="_blank">
            <img src="https://is1-ssl.mzstatic.com/image/thumb/Podcasts115/v4/8c/00/7a/8c007a42-e550-0214-d4cb-b59cd7edf194/mza_5305664083935674472.jpeg/400x400bb.jpg" alt=" Podcast on Castbox" style="width:150px; border-radius:10px;">
        </a>
        <div>
            <p style="font-size:24px; color:darkgreen;">Dateline NBC</p>
        </div>
       
        
    </div>

   



</div>

<div class="container" style="display: flex; justify-content: center; gap: 30px; margin-bottom:30px;">

    <div style="text-align:center;">
        <a href="https://castbox.fm/channel/id2174305?country=gb" target="_blank">
            <img src="https://is1-ssl.mzstatic.com/image/thumb/Podcasts211/v4/92/e7/61/92e761ef-ce51-c833-895f-6f6b086aca04/mza_6271543019652771773.jpg/400x400bb.jpg" alt="Podcast on Castbox" style="width:150px; border-radius:10px;">
        </a>
        <div>
            <p style="font-size:24px; color:darkgreen;">
               
                The Journal.
            </p>
        </div>


    </div>

    <div style="text-align:center;">
        <a href="https://castbox.fm/channel/id468563?country=gb" target="_blank">
            <img src="https://is1-ssl.mzstatic.com/image/thumb/Podcasts211/v4/93/b4/9c/93b49c9c-2bfa-b6a3-5126-f580749b6303/mza_15445164607348527780.jpg/400x400bb.jpg" alt="Podcast on Castbox" style="width:150px; border-radius:10px;">
        </a>
        <div>
            <p style="font-size:24px; color:darkgreen;">Noble</p>
        </div>


    </div>

    <div style="text-align:center;">
        <a href="https://castbox.fm/channel/id4944798?country=gb" target="_blank">
            <img src="https://is1-ssl.mzstatic.com/image/thumb/Podcasts221/v4/27/21/b1/2721b1d1-cd57-29d1-34b8-82a6dee83cd4/mza_16823224283369377934.jpg/400x400bb.jpg" alt="Podcast on Castbox" style="width:150px; border-radius:10px;">
        </a>
        <div>
            <p style="font-size:24px; color:darkgreen;">
                The Interview
            </p>
        </div>


    </div>


</div>

<div class ="container" style="display: flex; justify-content: center; gap: 30px; margin-bottom:30px;">

    <div style="text-align:center;">
        <a href="https://castbox.fm/channel/id4956820?country=gb" target="_blank">
            <img src="https://is1-ssl.mzstatic.com/image/thumb/Podcasts116/v4/6c/17/a4/6c17a4dd-4eff-f6a1-1f97-5c710c50edcb/mza_15940736951005474349.jpeg/400x400bb.jpg" alt="Podcast on Castbox" style="width:150px; border-radius:10px;">
        </a>
        <div>
            <p style="font-size:24px; color:darkgreen;">

                Morbid
            </p>
        </div>


    </div>

    <div style="text-align:center;">
        <a href="https://castbox.fm/channel/id3061537?country=gb" target="_blank">
            <img src="https://is1-ssl.mzstatic.com/image/thumb/Podcasts112/v4/33/04/b9/3304b919-a940-55ce-0cf3-90ade9a12f53/mza_14534535648123220467.jpg/400x400bb.jpg" alt="Podcast on Castbox" style="width:150px; border-radius:10px;">
        </a>
        <div>
            <p style="font-size:24px; color:darkgreen;">

                20/20
            </p>
        </div>


    </div>

    <div style="text-align:center;">
        <a href="https://castbox.fm/channel/id3061420?country=gb" target="_blank">
            <img src="https://is1-ssl.mzstatic.com/image/thumb/Podcasts122/v4/18/64/65/18646528-0426-17b0-3e17-15564158c7a6/mza_16073550298698667442.jpg/400x400bb.jpg" alt="Podcast on Castbox" style="width:150px; border-radius:10px;">
        </a>
        <div>
            <p style="font-size:24px; color:darkgreen;">

                First Take
            </p>
        </div>


    </div>



</div>



