@using Microsoft.AspNetCore.Identity
@using NewsProject.Models.DB
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager


@{
    var message = TempData["ReturnMessage"];
    var name = UserManager.FindByEmailAsync(User.Identity.Name).Result;
    var fullname = name.FirstName + " " + name.LastName;
}
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        @if (message == "success")
        {
            <div class="alert alert-@message align-items-center" role="alert">
                <h4 class="alert-heading">Digital Dragons</h4>
                <h6>
                    Dear @fullname, Thank you for your recent purchase!
                   We appreciate you and hope you enjoy your new items!!
                </h6>
                <hr />
                <a class="btn bg-success bg-gradient" asp-controller="Home" asp-action="Index">Continue</a>
            </div>
        }
        else
        {
            <div class="alert alert-@message align-items-center" role="alert">
                <h4 class="alert-heading">Digital Dragons</h4>
                <h6>
                    Dear @fullname, We regret to inform you that your recent payment attempt was unsuccessful.
                </h6>
                <a class="btn bg-success bg-gradient" asp-controller="Home" asp-action="Index">Continue</a>
            </div>
        }
    </div>
</div>