@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout !=  null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<div class="row mt-5">
    <hr />

    <div class="col-xl-9 col-md-9">
        <h5 id="font" class="justify-content-end text-danger">Manage your account</h5>
        <h5 id="font" class="justify-content-end text-danger">Change your account settings</h5>
    </div>
    <div class="col-xl-3 col-md-3">
        <a class="btn bg-success bd-gradient fonttype text-white" asp-controller="Home" asp-action="Index">Back</a>
    </div>
    <hr />

</div>

<div class="row align-content-center">
    <div class="col-xl-6 col-lg-5 col-md-5">
        <partial name="_ManageNav" />
    </div>
    <div class="col-xl-6 col-lg-7 col-md-7">
        @RenderBody()
    </div>
</div>
<hr />
@section Scripts {
    @RenderSection("Scripts", required: false)
}
